body {
    color: #232323;
    font-size: 0.95em;
    font-family: arial;
    background-color: rgba(0, 0, 0, 0.6);
}

div#success {
    text-align: center;
    box-shadow: 1px 1px 5px #455644;
    background: #bae8ba;
    padding: 10px;
    border-radius: 3px;
    margin: 0 auto;
    width: 350px;
}

h1{

    font-size: 20px;
}

h2{


    font-size: 20px;
}

.inputBox {
    width: 100%;
    margin: 5px 0px 15px 0px;
    border: #dedede 1px solid;
    box-sizing: border-box;
    padding: 15px;
    line-height: 50px;
    border-radius: 24px;
    outline:none;

}

#contact-popup {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    color: #676767;
}

.contact-form {
    width: 350px;
    margin: 0px;
    background-color: white;
    font-family: Arial;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -210px;
    margin-top: 100px;
    box-shadow: 1px 1px 5px #444444;
    padding: 20px 40px 40px 40px;
    border-radius: 24px;
}

#contact-icon {
    padding: 10px 5px 5px 12px;
    width: 58px;
    color: white;
    box-shadow: 1px 1px 5px grey;
    border-radius: 3px;
    cursor: pointer;
    margin: 60px auto;
}

.info {
    color: #d30a0a;
    letter-spacing: 2px;
    padding-left: 5px;
}

#send {
    background-color: #09F;
    border: 1px solid #1398f1;
    font-family: Arial;
    color: white;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

#contact-popup h1 {
    font-weight: normal;
    text-align: center;
    margin: 10px 0px 20px 0px;
    line-height: 70px;

}

.input-error {
    border: #e66262 1px solid;
}

.btn {
    font-size: 21px;
    padding: 5px 20px;
    border: 10;
    background-color:#fb2525;
    color: #fff;
    border-radius: 24px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 6px #999;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    outline:none;
  }

  .btn:active{
    
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    background-color:#fb2525;
    box-shadow: 0 4px #666;
    transform: translateY(8px);
    left: 50%;
    transform: translateX(-50%);


  }

 