//custom fonts

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");


.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//this is the container for the login and register page
.containerBG{
  background-image: url(./backgroundyellow.jpg) ;
  position: fixed;
  display: flex;
  z-index: 0;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  

  

} 

//Login/register's container that sets the parameters of how it'll look
.login {
  width: 27em;
  height: 50em;
  min-height: 35em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: absolute;
  top: 15px;
  right: 200px;
  z-index: 99;

  //the container within the login container to move it around
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 90%;
    height: 100%;
    z-index: 99;
    padding: 0px 0px;
    transition: transform 200ms ease-in-out;
    
  }//transitional container for switching animation of the left and right side
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65%;
    background-color: #3498db;
    width: 90%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
    //animation for the right side
    &.right {
      right: -30%;
      align-items: flex-end;
      &:hover {
        right: -35%;
      }
    }
    //animation for the left side
    &.left {
      right: 40%;
      align-items: flex-start;
      &:hover {
        right: 45%;
      }
    }
    //sets how the text in the animated containers would look like on the left and right side
    .text {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      margin-right: 2em;
      margin-left: 3em;
    }
  }
}

//General prupose button CSS for login, register, calendar
.btn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #2386c8;
  }
  &:focus {
    outline: none;
  }
}


